body{
    margin: 0px auto;
    font-family: Lato,system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    line-height: 1.5;
    font-size: 18px;
    overflow-x: hidden;
    letter-spacing: 0.125em;
    line-height: 1.75em;
}
html{
    scroll-behavior: smooth;
}
.header{
    margin: 0px;
    height: 120px;
    text-align: justify;
    position: sticky;
    top: 0px;
    z-index: 999;
    background-color: transparent;
    display: flex;
    align-items: center;
    justify-content: space-between;
    background-color: white;
    color: black;
}
.left{
    display: block;
    align-items: center;
    justify-content: start;
    margin: 0 auto;
    height: 120px;
    width: 800px;
    margin-left: 20px;
    margin-top: 10px;
    margin-bottom: 10px;
}
.outer-left{
    display: flex;
    align-items: center;
    justify-content: space-evenly;
}
.right{
    color: white;
    font-size: 18px;
}
.right ul{
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    margin-right: -50px;
}
.right li , .right a{
    list-style-type: none;
    text-decoration: none;
    color: black;
    font-weight: 600;
}
.right a:hover{
    text-decoration: overline;
    text-decoration-thickness: 2px;
    cursor: pointer;
    color: rgb(211, 114, 18);
}
.logo{
    margin: 20px ;
    height: 70px;
    margin-top: 10px;
}
.tagline{
    font-size: 20px;
    margin-left: 20px;
    font-weight: bold;
    margin-top: -25px;
}
.motto{
    font-size: 18px;
    font-weight: 400;
    font-style: italic;
    margin-left: -680px;
    color: black;
}
.right , .intro{
    width: 1000px;
    margin: 10px 50px; 
    padding: 10px;
    text-align: justify;
}
.right{
    width: 700px;
}
.header-box{
    margin: 10px auto;
    padding: 20px auto;
    height: 30px;
    background-color: rgb(68, 68, 68);
    color: white;
    margin: 0 auto;
    position: sticky;
    top: 120px;
    border-top: 2px solid black;
    border-bottom: 2px solid black;
    z-index: 999;
    text-align: center;
}
.intro{
    width: 90%;
    display: flex;
    align-items: center;
    justify-content: space-around;
    gap: 300px;
}
.intro div{
    margin: 0px;
}
.intro h1{
    font-size: 48px;
}
.nabl-logo{
    height: 250px;
    width: 250px;
    margin-top: 50px;
    padding-right: 50px;
}
.slider{
    line-height: normal;
    position: relative;
    width: 100%;
    height: 80vh;
}
.slide{
    position: absolute;
    width: 100%;
    height: 100%;
    opacity: 0;
    transition: opacity 2s ease-in-out;
}
.slide video{
    width: 100%;
    height: 100%;
    object-fit: cover;
}
.slide.active{
    opacity: 1;
    z-index: 1;
}
.content{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    text-align: center;
    color: white;
    width: 1000px;
    text-shadow: 2px 2px 10px black;
}
.content h1{
    font-size: 50px;
    margin-bottom: 20px;
    font-weight: bold;
}
.content p{
    font-size: 30px;
    max-width: 600px;
    margin: 0 auto;
}
.dots{
    position: absolute;
    bottom: 20px;
    left: 50%;
    transform: translateX(-50%);
    display: flex;
    gap: 10px;
}
.dot{
    width: 10px;
    height: 10px;
    background-color: rgba(255, 255, 255, 0.6);
    border-radius: 50%;
    cursor: pointer;
    transition: background-color 0.3s;
}
.dot.active{
    background-color: white;
}
.industry{
    background-color: black;
    margin: 10px auto;
    padding: 10px;
    font-size: 30px;
}
.main-card-1{
    background-color: lightgray;
    color: black;
    padding: 30px 0px;
}
.vision, .mission{
    display: flex;
    justify-content: start;
    align-items: center;
    margin: 10px 50px;
}
.vision{
    justify-content: end;
    margin-right: 100px;
}
.mission{
    margin-top: 30px;
}
.vision-img, .mission-img{
    height: 150px;
    width: 200px;
}
.vision-img{
    margin-top: 0px;
    margin-right: 20px;
}
.para-vision, .para-mission{
    margin: 40px 80px;
    text-align: justify;
}
.para-vision{
    text-align: justify;
    margin-left: 800px;
}
.my-list{
    margin: 10px 50px;
}
.choose-us{
    background-color: white;
    text-align: justify;
    padding: 20px 50px;
    font-size: 17px;
}
.choose-us h1{
    text-align: center;
    font-size: 48px;
}
.my-list-2{
    width: 1000px;
    margin: 40px 150px;
    list-style-type: none;
}
.my-list-2 li{
    padding: 10px;
}
.list-point{
    font-size: 20px;
    font-weight: bold;
}
.testing{
    padding: 20px 50px;
    text-align: justify;
    width: 1400px;
}
.outer{
    position: relative;
    height: 100%;
    margin: -80px -80px -38px -80px;
    background-image: url('../static/media/defence.jpg');
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}
.outer p{
    margin-top: 40px;
    margin-bottom: 0px;
    font-size: 22px;
}
.testing ul{
    padding: 20px 100px;
    font-weight: 500;
    background-color: white;
    opacity: 0.8;
    width: 800px;
    margin: 0 auto;
    border-radius: 20px;
}
.testing ul{
    position: relative;
    bottom: 50px;
    margin-top: 150px;
}
.testing li{
    margin: 20px 0px;
}
.test{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 40px;
    padding: 30px;
    background-color: white;
    opacity: 0.8;
    width: 940px;
    border-radius: 20px;
    margin: 50px auto;
}
.test{
    position: relative;
    top: 50px;
    margin-bottom: 100px;
}
.test-types{
    display: flex;
    align-items: center;
    justify-content: space-between;
    list-style-type: none;
    margin-top: 20px;
}
.test-img{
    height: 100px;
    width: 100px;
}
.test-method{
    list-style-type: none;
    display: flex;
    align-items: start;
    justify-content: space-between;
    margin-top: 20px;
}
.equip{
    padding: 20px 50px;
    background-color: lightgray;
    color: black;
    line-height: normal;
}
.equip h1{
    margin-left: 10px;
}
.upper, .lower{
    margin-top: 50px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: transparent;
    perspective: 1000px;
}
.lower{
    margin: 80px 0px 80px 0px;
    justify-content: space-evenly;
}
.equip-card{
    position: relative;
    border: 2px solid black;
    border-radius: 10px;
    transition: transform 10s 20s ease-in-out;
}
.equip-card .back{
    position: absolute;
    top: 0px;
    right: 0px;
    width: 100%;
    height: 100%;
}
.equip-card:hover.equip-card .back{
    backface-visibility: visible;
    transform: rotateY(0deg);
    opacity: 0.8;
}
.equip-card:hover.equip-card .front{
    opacity: 0.2;
}
.equip-card h3{
    text-align: center;
}
.equip-card .front, .equip-card .back{
    backface-visibility: hidden;
    border-radius: 10px;
    overflow: hidden;
}
.back{
    background-color: rgb(68, 68, 68);
    color: white;
    width: 100%;
    transform: rotateY(180deg);
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.back ul{
    margin-top: 0px;
}
.back h4{
    margin-top: 0px;
}
.equip-img{
    box-sizing: border-box;
    border-radius: 10px 10px 0px 0px;
    border-bottom: 2px solid black;
    height: 450px;
    width: 350px;
    object-fit: cover;
}
.tour{
    width: 80%;
    margin: 0 auto;
    text-align: center;
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.tour-btn, .form-btn, .submit-btn{
    height: 60px;
    width: 240px;
    padding: 10px;
    font-size: 18px;
    border: 2px solid black;
    background-color: transparent;
    border-radius: 10px;
    font-weight: bold;
    font-family: Lato,system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    text-align: center;
    margin: 20px auto;
    color: black;
    margin-top: -20px;
}
.tour-btn:hover, .form-btn:hover, .submit-btn:hover{
    background-color: lightgray;
    color: rgb(211, 114, 18);
}
.arrow{
    margin-left: 10px;
}
.tour-video{
    object-fit: fill;
    width: 80%;
    height: 700px;
    margin: 40px auto;
    border: 2px solid black;
}
.form-body{
    background-color: lightgray;
}
.my-form{
    width: 80%;
    margin: 0 auto;
    border: 2px solid black;
    padding: 10px;
    margin-top: 50px;
    margin-bottom: 50px;
    background-color: white;
}
.my-form label{
    display: block; 
    margin-top: 10px; 
}
.form-title{
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 20px;
}
.date-section{
    width: 300px;
    display: flex;
    align-items: center;
    justify-content: start;
    gap: 20px;
    font-weight: bold;
}
.my-form input, textarea, select{ 
    width: 90%; 
    padding: 8px; 
    margin-top: 5px; 
}
.form-section{ 
    width: 70%;
    margin: 40px auto;
    padding: 40px;
    border: 2px solid black;
    border-radius: 10px;
    background-color: lightgray;
}
.form-section h3{
    color: rgb(211, 114, 18);
}
.submit-btn{
    display: block;
    text-align: center;
    margin: 0px auto;
    margin-bottom: 20px;
    width: 200px;
}
.contact{
    padding: 0px 50px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 200px;
}
.address{
    text-align: justify;
    padding-left: 45px;
}
.map{
    height: 400px;
    width: 600px;
    margin: 30px auto;
    margin-bottom: 0px;
    margin-top: 100px;
}
.icon{
    font-size: 24px;
    margin: 10px;
    color: rgb(211, 114, 18);
}
.address-link{
    text-decoration: none;
    cursor: pointer;
    color: rgb(211, 114, 18);
}
.form-link{
    text-decoration: none;
    cursor: pointer;
    color: black;
    font-size: 18px;
}
.form-link:hover{
    color: rgb(211, 114, 18);
}
.second{
    display: block;
    text-align: right;
}
.back-link{
    text-align: left;
    text-decoration: none;
    color: black;
    font-size: 16px;
    font-style: normal;
    margin-left: 20px;
}
.footer{
    background-color: rgb(68, 68, 68);
    color: white;
    text-align: center;
    padding: 10px;
    font-size: 16px;
}
.tm{
    font-size: 8px;
    margin: 5px;
}

@media (max-width: 1200px) {
    .left,
    .right {
        width: 90%;
        margin: 0 auto;
    }
    .intro{
        flex-direction: column;
        gap: 50px;
        text-align: center;
    }
    .para-vision{
        margin-left: 80px;
        margin-right: 20px;
        width: 80%;
    }
    .my-list-2 {
        margin: 20px auto;
    }
    .outer{
        width: 108.5%;
    }
    .my-list-2{
        width: 90%;
    }
    .testing,
    .my-form{
        width: 95%;
    }
    .form-section{
        width: 80%;
    }
    .test{
        flex-direction: column;
        gap: 20px;
        width: 80%;
    }
    .outer ul{
        width: 65%;
    }
    .tour{
        flex-direction: column;
        align-items: center;
        gap: 20px;
    }
    .tour-video{
        width: 100%;
        height: 500px;
    }
    .equip .upper,
    .equip .lower{
        flex-direction: column;
        gap: 40px;
        margin-top: 20px;
    }
    .equip-card{
        width: 90%;
        margin: 0 auto;
    }
    .equip-img{
        width: 100%;
        height: auto;
    }
    .back h4{
        font-size: 18px;
    }
    .back ul{
        padding: 0 10px;
        font-size: 16px;
    }
    .map{
        width: 500px;
        height: 400px;
    }
}
@media (max-width: 992px) {
    body{
        width: 100%;
    }
    .header, .header-box{
        flex-direction: column;
        align-items: center;
        justify-content: start;
        height: auto;
        padding: 10px;
    }
    .outer-left{
        margin-left: 0px; 
        gap: 300px;
        margin-top: 20px;
    }
    .motto{
        margin: 10px auto;
        text-align: left;
    }
    .left .tagline{
        margin-top: -20px;
    }
    .right ul{
        flex-direction: column;
        gap: 10px;
        text-align: center;
        margin: 0 auto;
        padding: 0;
    }
    .logo{
        height: 60px;
    }
    .header-box{
        position: sticky;
        top: 330px;
        z-index: 999;
    }
    .content h1{
        font-size: 44px;
    }
    .intro{
        text-align: justify;
    }
    .nabl-logo{
        height: 190px;
        width: 190px;
        margin: 0 auto;
        margin-bottom: 30px;
    }
    .para-vision{
        margin-left: 80px;
        margin-right: 80px;
    }
    .form-section{
        padding: 20px;
        width: 80%;
    }
    .choose-us{
        width: 100%;
        text-align: justify;
    }
    .choose-us .my-list-2{
        margin-right: 100px;
        padding-right: 50px;
        text-wrap: wrap;
        width: 85%;
    }
    .testing ul{
        width: 70%;
        padding: 20px 40px;
        margin: 20 auto;
    }
    .test{
        width: 70%;
        height: 50%;
        display: flex;
        flex-direction: row;
        align-items: center;
        justify-content: center;
    }
    .equip h1{
        padding: 10px;
        margin-bottom: 20px;
    }
    .equip-card{
        height: 600px;
        width: 550px;
    }
    .equip-card .back{
        line-height: 1.5em;
    }
    .equip-img{
        height: 500px;
        width: 550px;
    }
    .equip .lower{
        margin-top: 40px;
    }
    .map{
        width: 600px;
        height: 400px;
        margin-top: -20px;
    }
    .contact {
        flex-direction: column;
        gap: 40px;
    }
    .form-title{
        flex-direction: column;
        gap: 10px;
        align-items: start;
    }
}
@media (max-width: 768px) {
    *{
        margin: 0 auto;
        padding: 0 auto;
    }
    .motto{
        text-wrap: wrap;
    }
    .intro{
        margin-left: 30px;
    }
    .intro h1{
        margin: 20px auto;
        padding-bottom: 20px;
    }
    .equip h1, .contact h1{
        margin: 20px auto;
    }
    .contact{
        line-height: 1.5;
    }
    .icon{
        margin-left: 0px;
    }
    .first{
        padding: 10px;
    }
    .outer{
        width: 109%;
    }
    .choose-us{
        width: 85%;
    }
    .header-box{
        position: sticky;
        top: 350px;
    }
    .content {
        width: 95%;
    }
    .content h1{
        font-size: 32px;
        margin-bottom: 150px;
        padding-bottom: 150px;
    }
    .content p{
        font-size: 18px;
    }
    .slider{
        height: 60vh;
    }
    .industry{
        position: absolute;
        right: 100px;
        width: 70%;
        font-size: 28px;
        margin-top: 50px;
    }
    .tour-video {
        height: 350px;
    }
    .tour-btn, .form-btn, .submit-btn {
        width: 50%;
    }
    .test{
        width: 50%;
        height: 50%;
        display: flex;
        flex-direction: row;
        align-items: center;
        justify-content: center;
    }
    .testing ul{
        width: 50%;
        padding: 20px 40px;
        margin: 20 auto;
        text-align: center;
    }
    .my-list-2{
        width: 95%;
        font-size: 16px;
    }
    .equip-card{
        width: 70%;
        height: 95%;
    }
    .test-img{
        height: 80px;
        width: 80px;
    }
    .form-section{
        padding: 20px;
    }
    .address{
        padding-left: 20px;
    }
    .test-method,
    .test-types{
        flex-direction: column;
        gap: 10px;
        align-items: center;
    }
}
@media (max-width: 576px) {
    body {
        font-size: 16px;
        letter-spacing: normal;
    }
    .header{
        width: 95%;
    }
    .left{
        flex-direction: column;
        width: 90%;
        text-align: center;
        margin: 0 auto;
    }
    .right{
        flex-direction: row;
        justify-content: space-evenly;
        align-items: center;
        font-size: 16px;
    }
    .header-box{
        position: sticky;
        top: 320px;
    }
    .outer-left{
        width: 80%;
    }
    .motto{
        margin-left: -200px;
        text-align: left;
    }
    .left{
        margin-left: 0px;
    }
    .slider{
        width: 99.5%;
    }
    .intro{
        width: 80%;
        margin-left: 30px;
        align-items: center;
    }
    .right ul{
        flex-direction: column;
        gap: 10px;
    }
    .intro h1{
        font-size: 26px;
    }
    .nabl-logo{
        height: 120px;
        width: 120px;
        margin: 20px auto;
        margin-top: 0px;
    }
    .content h1{
        font-size: 24px;
        line-height: 1.5em;
    }
    .content p{
        font-size: 16px;
    }
    .industry{
        margin-right: -50px;
    }
    .vision-img, .mission-img{
        height: 100px;
        width: 130px;
    }
    .para-vision{
        width: 60%;
    }
    .form-section,
    .my-form{
        width: 100%;
    }
    .form-section {
        padding: 15px;
    }
    .choose-us{
        margin-left: -60px;
        width: 89%;
    }
    .choose-us h1{
        font-size: 38px;
        text-align: center;
        margin-left: 30px;
        margin-top: 20px;
    }
    .tour-video {
        height: 220px;
    }
    .testing{
        width: 97%;
    }
    .test{
        width: 55%;
        height: 50%;
        display: flex;
        flex-direction: row;
        align-items: center;
        justify-content: center;
    }
    .outer{
        width: 111%;
    }
    .equip h1{
        margin-top: 20px;
    }
    .equip-card{
        width: 100%;
    }
    .equip-img{
        height: 300px;
        width: 550px;
        object-fit: cover;
    }
    .my-form{
        width: 90%;
        font-size: 16px;
    }
    .form-section{
        width: 70%;
    }
    .form-title,
    .date-section {
        flex-direction: column;
        align-items: start;
        gap: 10px;
        padding-left: 20px;
    }
    .date-section{
        width: 50%;
    }
    .submit-btn {
        width: 30%;
    }
    .back h4 {
        font-size: 16px;
    }
    .contact{
        line-height: 1.5;
    }
    .contact h1{
        margin: 20px auto;
    }
    .first{
        margin-top: 20px;
    }
    .icon{
        margin-left: 0px;
    }
    .footer{
        font-size: 14px;
    }
    .map{
        width: 90%;
        height: 200px;
        margin-top: 0px;
        margin-right: 20px;
    }
    .address {
        padding: 0 20px;
    }
    .arrow {
        display: none;
    }
    .test-method li,
    .test-types li {
        margin: 10px auto;
    }
}
